/*control the layer */


/*control wrapper*/
#aaron{
	width:1000px;/*width of the header*/
	margin:0 auto;/*adds a margin */
}

/*control the heading*/
#header{
	width:100%;/*width of the header*/       
	float:left;/*position of the header*/
	display:block;/*block - one beneath / in-line - side by side*/
	border:1px solid red;/*border of the header*/ 
	color:Olive;
}

/*control the main areas*/
main{
	width:100%;/*width of the header*/
	float:left;/*position of the header*/
	display: block;/*block - one beneath / in-line - side by side*/
	border:1px solid red;/*border of the header*/
	color:Olive;
}

/* contains all sub-classes*/
.contain{
		width:900px;/*width of the container*/
		margin-right:49px;/*right margin of the container*/
		margin-left: 49px;/*width of the container*/
		margin-top: 50px;/*width of the container*/
		margin-bottom: 50px;/*width of the container*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		color:Olive;
}
		
/* contains first product box*/
.prod_box{
		width:278px;/*width of the prod box*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		margin: 10px;/*width of the container*/
}
		
/* contains first product picture*/
.prod_pic{
		width:278px;/*width of the prod picture*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		color:Olive;
		color:Olive;
}

/* contains first product price*/
.prod_price{
		width:278px;/*width of the prod price*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		margin-top: 5px;/*width of the container*/
}

/* contains second product box*/
.prod_box2{
		width:278px;/*width of the prod box*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		margin: 10px;/*width of the container*/
}
		
/* contains second product picture*/
.prod_pic2{
		width:278px;/*width of the prod picture*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
}

/* contains second product price*/
.prod_price2{
		width:278px;/*width of the prod price*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		margin-top: 5px;/*width of the container*/
}
/* contains third product box*/
.prod_box3{
		width:278px;/*width of the prod box*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		margin: 10px;/*width of the container*/
}
		
/* contains third product picture*/
.prod_pic3{
		width:278px;/*width of the prod picture*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
}

/* contains third product price*/
.prod_price3{
		width:278px;/*width of the prod price*/
		float: left;/*width of the container*/
		display: block;/*width of the container*/
		border: 1px solid red;/*width of the container*/
		margin-top: 5px;/*width of the container*/
}
		

/*control the bottom area*/
footer{
	width:100%;/*width of the header*/
	float:left;/*position of the header*/
	display:block;/*block - one beneath / in-line - side by side*/
	border:1px solid red;/*border of the header*/
}