<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- title of the web page-->
		<title>Page Name</title>
	
	
		<!--webpage metatags -->
		<meta charset="UTF-8" />
		
		
		<!--Specific webpage metatags -->
		
		
		<!--style sheet links-->
		<link type="text/css" rel="stylesheet" href="style.css" />
		<link type="text/css" rel="stylesheet" href="nav.css" />
	</head>

<body>
<div id="aaron"> <!--wraps-container in the center-->
		<!--title of the page-->
		<header>
			<div id = "header">
				<h1>Company name</h1>
			</div>
		</header>
		
		<!--Main nav of the page-->
		<nav>
			<ul id="main_u1">
				<li class="main_li>
					<a class="main_a" title="back to home page" href="index.html">Home</a>
				</li>
				
				<li class="main_li">
					<a class="main_a" title="Part-Time Courses" href="part.html">Part Time</a>
				</li>
				
				<li class="main_li">
					<a class="main_a" title="Full Time Courses" href="full.html">Full Time</a>
				</li>
				
				<li class="main_li">
					<a class="main_a" title="More info about us" href="about.html">About</a>
				</li>
				
				<li class="main_li">
					<a class="main_a" href="contact.html">Contact</a>
				</li>
			</ul>
		</nav>
		
		<!--Main section of thr4 page-->
		<main>
			<h3>Company name</h3>
			
			
		</main>
		
		<!--Footer of the page-->
		<footer>
			<hr>&copy; Company name 2018</hr>
			
		</footer>
</div> <!--close wrapper-->
</body>
</html>





